.container_card{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: 100%;
    justify-content: space-around;
}
.list_links{
    width: 47.5% !important;
    background-color: transparent;
}

@media  screen and (max-width:780px) {
    .container_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .list_links{
        width: 94.5% !important;
    }
    .form_area_input span{
        display: none;
    }
}
